#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define EXT  1
#define NAV  2
#define FUN  3
#define ADJ  4


/ {

    behaviors {
        hm: left_hand_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_POSITIONAL_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <100>;                        // <---[[produces tap if held longer than tapping-term-ms]]
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9>;    // <---[[right-hand keys]]
        };
    };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
        // ----------------------------------------------------------------------------------------------------------------------------
        // |    Q    |    W    |    F    |    P    |    B    |                      |    J    |    L    |    I    |    Y    |    ;    |
        // |    A    |    R    |    S    |    T    |    G    |                      |    M    |    N    |    E    |    I    |    O    |
        // |    Z    |    X    |    C    |    D    |    V    |                      |    K    |    H    |    ,    |    .    |    /    |
        //                               |   ESC   |  SPACE  |   TAB   |  |  RETURN |BACKSPACE|   DEL   |

            bindings = <
                &kp Q       &kp W       &kp F         &kp P        &kp B                            &kp J     &kp L     &kp U     &kp Y     &kp SEMI
                &hm LALT A  &hm LGUI R  &hm LSHIFT S  &hm LCTRL T  &kp G                            &kp M     &kp N     &kp E     &kp I     &kp O
                &kp Z       &kp X       &kp C         &kp D        &kp V                            &kp K     &kp H     &kp COMMA &kp DOT   &kp FSLH
                                                      &kp ESC      &kp SPACE    &kp TAB   &kp RET   &kp BSPC  &kp DEL
            >;

        };



        };
    };
};