#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define EXT  1
#define NAV  2
#define FUN  3
#define ADJ  4


/ {

    macros {
        zed_em_kay: zed_em_kay {
            label = "ZM_zed_em_kay";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp Z &kp M &kp K>
                , <&macro_release &kp LSHFT>
                ;
        };
    };



    behaviors {
        hm: left_hand_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_POSITIONAL_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <100>;                        // <---[[produces tap if held longer than tapping-term-ms]]
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9>;    // <---[[right-hand keys]]
        };
    };



    };
 ----------------------------------------------------------------------------------------------------------------------------
        // |    Q    |    W    |    F    |    P    |    B    |                      |    J    |    L    |    I    |    Y    |    ;    |
        // |    A    |    R    |    S    |    T    |    G    |                      |    M    |    N    |    E    |    I    |    O    |
        // |    Z    |    X    |    C    |    D    |    V    |                      |    K    |    H    |    ,    |    .    |    /    |
        //                               |   ESC   |  SPACE  |   TAB   |  |  RETURN |BACKSPACE|   DEL   |

            bindings = <
                &kp Q       &kp W       &kp F         &kp P        &kp B                            &kp J     &kp L     &kp U     &kp Y     &kp SEMI
                &hm LALT A  &hm LGUI R  &hm LSHIFT S  &hm LCTRL T  &kp G                            &kp M     &kp N     &kp E     &kp I     &kp O
                &kp Z       &kp X       &kp C         &kp D        &kp V                            &kp K     &kp H     &kp COMMA &kp DOT   &kp FSLH
                                                      &kp ESC      &kp SPACE    &kp TAB   &kp RET   &kp BSPC  &kp DEL
            >;
        };


        ext_layer {


            bindings = <
                &none  &kp F7  &kp F8  &kp F9  &kp F10                            &kp J     &kp L     &kp U     &kp Y     &kp SEMI
                &none  &kp F4  &kp F5  &kp F5  &kp F11                            &kp M     &kp N     &kp E     &kp I     &kp O
                &none  &kp F1  &kp F2  &kp F3  &kp F12                            &kp K     &kp H     &kp COMMA &kp DOT   &kp FSLH
                                            &none  &none  &none  &none  &none  &none  &none
            >;
        };


        nav_layer {


            bindings = <
                &none  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp F10                            &kp PG_UP  &kp HOME      &kp UP       &kp END     &none
                &redo  &kp F4  &kp F5  &kp F5  &undo                            &kp PG_DN  &kp LEFT      &kp DOWN     &kp RIGHT   &none
                &none  &kp F1  &kp F2  &kp F3  &kp F12                            &none      &prev_screen  &next_screen &none       &none
                                            &none  &none  &none  &none  &none  &none  &none
            >;
        };
    };
};