// combos for accents dead keys (for US_intl_altgr_deadkeys OS layout)
combo_acc {
    timeout-ms = <50>;
    key-positions = <1 2>;
    layers = <BASE>;
    bindings = <&kp RA(SINGLE_QUOTE)>;
};
combo_grv {
    timeout-ms = <50>;
    key-positions = <2 3>;
    layers = <BASE>;
    bindings = <&kp RA(GRAVE)>;
};
combo_esc {
    timeout-ms = <50>;
    key-positions = <31 32>;
    layers = <BASE>;
    bindings = <&kp ESCAPE>;
};
combo_tab {
    timeout-ms = <50>;
    key-positions = <33 34>;
    layers = <BASE>;
    bindings = <&kp TAB>;
};
